# Configuration file

"entity blacklist" {
    B:Basalz=false
    B:Bat=false
    B:Blaze=false
    B:Blitz=false
    B:Blizz=false
    B:"Botania.botania:pixie"=false
    B:"BuildCraft|Robotics.bcRobot"=false
    B:CaveSpider=false
    B:Chicken=false
    B:Cow=false
    B:Creeper=false
    B:Enderman=false
    B:EntityHorse=false
    B:Ghast=false
    B:Giant=false
    B:LavaSlime=false
    B:Mekanism.BabySkeleton=false
    B:Mekanism.Robit=false
    B:MineFactoryReloaded.mfrEntityPinkSlime=false
    B:Mob=false
    B:Monster=false
    B:MushroomCow=false
    B:Natura.FlameSpider=false
    B:Natura.FlameSpiderBaby=false
    B:Natura.Imp=false
    B:Natura.NitroCreeper=false
    B:NetherOres.netherOresHellfish=false
    B:OpenBlocks.Luggage=false
    B:OpenBlocks.MiniMe=false
    B:Ozelot=false
    B:Pig=false
    B:PigZombie=false
    B:Sheep=false
    B:Silverfish=false
    B:Skeleton=false
    B:Slime=false
    B:SnowMan=false
    B:Spider=false
    B:Squid=false
    B:TConstruct.Crystal=false
    B:TConstruct.EdibleSlime=false
    B:Villager=false
    B:VillagerGolem=false
    B:Witch=false
    B:"Wither Skeleton"=false
    B:Wolf=false
    B:Zombie=false
    B:chisel.snowman=false
    B:witherSkeleton=false
}


